In [1]:
import numpy as np
import pandas as pd

In [2]:
d1 = pd.read_csv("fin.csv")
d2 = pd.read_csv("match_info_data.csv")

In [8]:
d3 = pd.merge(d2, d1, how ='', on ='match_id')

KeyError: 'leftsemi'

In [13]:
d4 = d3.iloc[:, 0:17]

In [16]:
d3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243817 entries, 0 to 243816
Data columns (total 58 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   match_id                243817 non-null  int64
 1   season                  243817 non-null  int64
 2   city_x                  231420 non-null  object
 3   date_x                  243817 non-null  object
 4   team1_x                 243817 non-null  object
 5   team2_x                 243817 non-null  object
 6   toss_winner_x           243817 non-null  object
 7   toss_decision_x         243817 non-null  object
 8   result_x                243817 non-null  object
 9   dl_applied_x            243817 non-null  int64
 10  winner_x                243327 non-null  object
 11  win_type                240171 non-null  object
 12  win_by_runs_x           243817 non-null  int64
 13  win_by_wickets_x        243817 non-null  int64
 14  player_of_match_x       243327 non-null  object
 15  umpire1_x               243817 non-null  object
 16  umpire2_x               243817 non-null  object
 17  umpire3_x               243128 non-null  object
 18  Unnamed: 0              243817 non-null  int64
 19  season_x                243817 non-null  int64
 20  start_date              243817 non-null  object
 21  venue                   243817 non-null  object
 22  innings                 243817 non-null  int64
 23  over                    243817 non-null  int64
 24  ball                    243817 non-null  int64
 25  batting_team            243817 non-null  object
 26  bowling_team            243817 non-null  object
 27  striker                 243817 non-null  object
 28  non_striker             243817 non-null  object
 29  bowler                  243817 non-null  object
 30  runs_off_bat            243817 non-null  int64
 31  extras                  243817 non-null  int64
 32  wides                   7652 non-null    float64
 33  noballs                 1018 non-null    float64
 34  byes                    628 non-null     float64
 35  legbyes                 3778 non-null    float64
 36  penalty                 2 non-null       float64
 37  wicket_type             12067 non-null   object
 38  player_dismissed        12067 non-null   object
 39  other_wicket_type       0 non-null       float64
 40  other_player_dismissed  0 non-null       float64
 41  cricsheet_id            243817 non-null  int64
 42  season_y                243817 non-null  int64
 43  city_y                  231420 non-null  object
 44  date_y                  243817 non-null  object
 45  team1_y                 243817 non-null  object
 46  team2_y                 243817 non-null  object
 47  toss_winner_y           243817 non-null  object
 48  toss_decision_y         243817 non-null  object
 49  result_y                243817 non-null  object
 50  dl_applied_y            243817 non-null  int64
 51  winner_y                243327 non-null  object
 52  win_by_runs_y           243817 non-null  int64
 53  win_by_wickets_y        243817 non-null  int64
 54  player_of_match_y       243327 non-null  object
 55  umpire1_y               243817 non-null  object
 56  umpire2_y               243817 non-null  object
 57  umpire3_y               243128 non-null  object
dtypes: float64(7), int64(17), object(34)
memory usage: 109.8+ MB

In [22]:
d5 = d3[['match_id','venue']]

In [23]:
d5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 243817 entries, 0 to 243816
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   match_id  243817 non-null  int64
 1   venue     243817 non-null  object
dtypes: int64(1), object(1)
memory usage: 5.6+ MB

In [28]:
d6 = pd.concat([d4, d5], axis=1)

In [29]:
d7 = d6.drop_duplicates()

In [30]:
d7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1024 entries, 0 to 243592
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   match_id           1024 non-null   int64
 1   season             1024 non-null   int64
 2   city_x             973 non-null    object
 3   date_x             1024 non-null   object
 4   team1_x            1024 non-null   object
 5   team2_x            1024 non-null   object
 6   toss_winner_x      1024 non-null   object
 7   toss_decision_x    1024 non-null   object
 8   result_x           1024 non-null   object
 9   dl_applied_x       1024 non-null   int64
 10  winner_x           1019 non-null   object
 11  win_type           1003 non-null   object
 12  win_by_runs_x      1024 non-null   int64
 13  win_by_wickets_x   1024 non-null   int64
 14  player_of_match_x  1019 non-null   object
 15  umpire1_x          1024 non-null   object
 16  umpire2_x          1024 non-null   object
 17  match_id           1024 non-null   int64
 18  venue              1024 non-null   object
dtypes: int64(6), object(13)
memory usage: 160.0+ KB

In [31]:
d7.to_csv("fin2.csv")